<footer class="sticky-bottom mt-5">
  <div class="container" style="text-align: center; padding: 20px; font-size: 0.9em;">
    <p>
      <strong>Biological Nanoparticles Laboratory</strong><br>
      Groningen Research Institute of Pharmacy, University of Groningen<br>
      Groningen, The Netherlands<br>
      Contact: <a href="mailto:s.busatto@rug.nl">s.busatto@rug.nl</a>
    </p>
    <p style="font-size: 0.85em; color: var(--global-text-color-light, #6c757d); margin-top: 10px;">
      Website created by <a href="mailto:brembati.davide@gmail.com">Davide Brembati</a>
    </p>
  </div>
</footer>
