<footer class="{% if site.footer_fixed %}fixed-bottom{% else %}sticky-bottom mt-5{% endif %}" style="background-color: var(--global-footer-bg-color); color: var(--global-footer-text-color); border-top: 1px solid var(--global-divider-color);">
  <div class="container" style="text-align: center; padding-top: 20px; padding-bottom: 20px; font-size: 0.9em;">
    <strong>Biological Nanoparticles Laboratory</strong> &bull; Groningen Research Institute of Pharmacy &bull; University of Groningen <br>
    Groningen, The Netherlands &bull; <a href="mailto:s.busatto@rug.nl" style="color: #E3000F;">s.busatto@rug.nl</a>
  </div>
</footer>
